<div class="container">
  <header>
    <h3>IT Roles Directory</h3>
   <!-- <p>This portal provides a structured overview of various IT roles across different domains. Browse by category to view specific roles and details.</p>
   <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/roles/software-development">Software Development</a>
      <a routerLink="/roles/data">Data</a>
      <a routerLink="/roles/design">Design</a>
      <a routerLink="/roles/product-management">Product Management</a>
      <a routerLink="/roles/qa-testing">QA & Testing</a>
      <a routerLink="/roles/cloud-devops">Cloud/DevOps</a>
      <a routerLink="/roles/security">Security</a>
    </nav> -->
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <span>© 2025 IT Roles Directory. All rights reserved.</span>
  </footer>
</div>